body{
    margin: 0;
}

.header-bar{
    height: 125px;
    background-color: black;
    text-align: right;
}

#logo{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}

#home-nav, #contact-nav, #about-nav{
    color: white;
    margin: 4px 6px 4px 6px;
}

